.setting{
    position: fixed;
    font-size: 2rem;
    top:30px;
    right:20px;
    color: rebeccapurple;
    background: none;
    border: none;
}

.fullMenu{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.5s;
}

.fullMenu form{
    background-color: rgb(176, 139, 212);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    text-align: center;
}

.btnAdd{
    background: none;
    border: none;
    padding: 2px 5px;
    background-color: rgb(221, 201, 241);
    border-radius: 5px;
    margin:0 10px;
}
input{
    padding: 5px;
    border-radius: 10px;
    border: none;
}
input:focus{
    outline: none;
}
@media screen and (min-width:599px){    
    .setting{
        right:50px;
    }
}
